# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
ENV/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment
.env
.env.*
!.env.example

#config
tox.ini

# VS Code
.vscode/settings.json
.vscode/launch.json

# Coverage
.coverage
htmlcov/
coverage.xml
.pytest_cache/
.mypy_cache/
.ruff_cache/

# OS
.DS_Store
Thumbs.db

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/.env.local